<form [formGroup]="internForm" (ngSubmit)="onSubmit()">

  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" placeholder="Your name...">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Firstname</mat-label>
    <input matInput  formControlName="firstName" placeholder="Your Firstname...">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput type="email" formControlName="email" placeholder="Your email...">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Phone Number</mat-label>
    <input matInput type="tel" formControlName="phoneNumber" placeholder="Your Phone Number...">
  </mat-form-field>


  <mat-form-field>
    <mat-label>Birthdate</mat-label>
    <input matInput type="date" formControlName="birthDate" placeholder="Intern birth date..." autocomplete="do-not-fill">
    <!-- afficher erreur -->

    <mat-error *ngIf="internForm.controls['birthDate'].errors && internForm.controls['birthDate'].touched || internForm.controls['birthDate'].dirty">
        <span *ngIf="internForm.controls['birthDate'].hasError('required')">Birthdate is required...</span>
        <span *ngIf="internForm.controls['birthDate'].hasError('dateNotLessThan')">Birthdate cannot be superior than today...</span>
    </mat-error>

  </mat-form-field>

  <button mat-raised-button color="accent" [disabled]="internForm.invalid">Save</button>
</form>

{{ internForm.value | json }}


