<!-- <p>poe-table works!</p> -->
<h1> Poe list</h1>

<table>
  <!-- entete -->
  <thead >
    <tr >
      <th>#</th>
      <th>Titre</th>
      <th>Beginning date</th>
      <th>End date</th>
      <th>Actions</th>
    </tr>
  </thead>

  <!-- corps du tableau -->
  <tbody>
    <tr *ngFor="let poe of poes">
      <td>{{ poe.id }} </td>
      <td>
        <a [routerLink]="['/', 'poe', poe.id]"> {{poe.name | uppercase}} </a>
      </td>
      <td>{{poe.beginDate| date:"mediumDate" }}</td>
      <td>{{poe.endDate| date:"mediumDate" }}</td>
      <!-- menu with icons-->
      <td>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Exemple icon-button avec un menu">
          <mat-icon> more_vert </mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <bouton mat-menu-item mat-menu-item disabled>
            <mat-icon>update</mat-icon>
            <span>Update</span>
          </bouton>

            <bouton mat-menu-item class="deletebt" (click)="delete(poe)">
              <mat-icon id="deletebt">delete</mat-icon>
              <span>Delete</span>
            </bouton>

        </mat-menu>
      </td>
    </tr>
  </tbody>
</table>

<button mat-raised-button color="primary" [routerLink]="['/', 'poe', 'manage', 'add']">
  Add a poe
</button>
