
h1 {
  text-align: center;
  margin: 20px;
}

table {
  // display: flex;
  margin: 0 auto;
  width: 80%;
  margin-bottom: 3rem;
  border-collapse: collapse;
  thead {
    background-color: #892be213 ;
    tr {
      th {
        border-bottom: 2px solid #8a2be2;

      }
    }
  }
  tbody {
    margin: 0;
    tr{
      text-align: center;
    }
    tr:nth-child(odd){
      background-color: #892be239;
    }
  }
}

//button
  .mat-raised-button.mat-primary {
    background-color:rgb(226, 180, 42);
    margin: auto;
  }

  // Icon delete
#deletebt{
  color: red;
}

//Text delete
.deletebt{
  color: red;
}





