mat-toolbar  {
  background-color:blueviolet;
  color: white;
  }

  button{
    &:hover {
      font-weight: bold;
    }
      a {
        text-decoration: none;
      }
  }


.example-spacer {
  flex: 1 1 auto;
}
/*
#signin {
  color: #e2b42a;
  :hover{
    color: aqua;
  }
}
*/
