.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1{
    text-align: center;
    margin: 20px;
  }
  ul li {
    //justify-content: center;
    text-decoration: none;
  }
}

button {
  background-color: blueviolet;
  text-align: center;
  margin: auto;
  margin-top: 20px;

}
